<div ng-controller = "addCtrl">
<ion-view title="Adicionar Produto" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="page-form2" class="list">
      <label class="item item-input" id="page-input2">
        <span class="input-label">Codigo De Barras</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page-input3">
        <span class="input-label">Descrição</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page-input4">
        <span class="input-label">Preco</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="page-button5" class="button button-positive button-block">Adicionar Produto</button>
      <button id="page-button5" class="button button-positive button-block" ng-click = 'voltar()'>Voltar</button>
  </ion-content>
</ion-view>